/*
 I decided on the Brush Script MT cursive font for now. Works better for me than Operator Mono.
*/
.mtk1 {
  font-family: "Operator Mono lig";
  font-size: 1.075em;
  line-height: normal;
  color: #e0e0e0 !important;
}

.mtk3 {
  font-family: "Fira Code";
  font-size: 1.075em;
  line-height: normal;
  color: #3d6331;
}

.mtk4 {
  font-family: "Operator Mono lig";
  font-weight: bold;
  font-style: italic;
  font-size: 1.075em;
  line-height: normal;
  color: #ffc600 !important;
}

.mtk5 {
  font-family: "Operator Mono lig";
  font-weight: bold;
  font-style: italic;
  font-size: 1.075em;
  line-height: normal;
  color: #bd66ff !important;
}

.mtk7 {
  font-family: "Operator Ssm";
  font-weight: medium;
  font-size: 1.075em;
  line-height: normal;
  color: #39cadd !important;
}

.mtk8 {
  font-family: "Operator Mono lig";
  font-size: 1.075em;
  line-height: normal;
  color: #dabc9a !important;
}

.mtk10 {
  font-family: "Operator Mono lig";
  font-size: 1.075em;
  line-height: normal;
  font-weight: bold;
  font-style: italic;
  color: #fd9642 !important;
}

.mtk11 {
  font-family: "Operator Mono lig";
  font-style: italic;
  font-size: 1.075em;
  line-height: normal;
  color: #dd6b74 !important;
}

.mtk12 {
  font-family: "Operator Mono lig";
  font-weight: lighter;
  font-size: 1.075em;
  line-height: normal;
  color: #e06021 !important;
}

.mtk15 {
  font-family: "Operator Mono lig";
  font-size: 1.075em;
  line-height: normal;
  font-weight: bolder;
  font-style: italic;
  color: #bd66ff !important;
}

.mtk16 {
  font-family: "Operator Mono lig";
  font-weight: bolder;
  font-size: 1.075em;
  line-height: normal;
  color: #ffffff !important;
}

.mtk17 {
  font-family: "Operator Mono lig";
  font-weight: bolder;
  font-size: 1.075em;
  line-height: normal;
  color: #ffffff !important;
}

.monaco-icon-label-description-container .label-name {
  font-family: "Operator Mono lig";
}

.tabs-container .monaco-icon-label-description-container .label-name,
.sidebar .monaco-icon-label-description-container .label-name,
.quick-open-row .monaco-icon-label-description-container .label-name {
  font-family: "Operator Mono lig", "Fira Code", -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
}

/*
  For the tab titles.
*/
